* {
    box-sizing: border-box;
}

body {
    background-color: #2b2b2b;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 20px;
}

/* based on which page is active, it shows the correct content */
[data-page-content] {
    display: none;
}

.active[data-page-content] {
    display: block;
}

#logo {
    width: 200px;
    margin-bottom: 10px;
}

h3 {
    font-size: 14px;
}

#main-page {
    header {
        text-align: center;
        margin-bottom: 30px;
    
        .stats-container {
            color: #F4F4F4;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: end;
        }
    
        p {
            color: #1E1E1E;
            background-color: #F4F4F4;
            padding: 3px 0;
            border-radius: 3px;
            font-weight: bold;
        }
    }
    
    .form-button {
        text-align: center;
    
        button {
            padding: 8px 20px;
            font-size: 15px;
            font-weight: bold;
            border-radius: 6px;
            background-color: #C25C22;
            color: #F4F4F4;
            margin-bottom: 30px;
        }
    }
    
    .form {
        background-color: #E99C65;
        border-radius: 6px;
        padding: 10px 15px;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 280px;
    
        h2 {
            font-size: 16px;
            margin: 0 0 20px 0;
        }
    
        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            padding-left: 10px;
    
            label {
                font-size: 15px;
            }
    
            input, select {
                height: 25px;
                border: none;
                border-radius: 4px;
                background-color: #F4F4F4;
                padding: 0 5px;
                margin-bottom: 10px;
                margin-left: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }

            p {
                font-size: 15px;
                background-color: pink;
                padding: 5px;
                border-radius: 5px;
                text-align: center;
                margin-top: 0;
                margin-bottom: 30px;
                margin-left: -10px;
            }

            .input-duration input, .input-rated input {
                width: 80px;
            }
        }
    
        .input-title {    
            input {
                width: 170px;
            }
        }
    
        .input-rating {
            input, select {
                width: 80px;
            }
        }

        .input-plot {
            display: flex;
            flex-direction: row;
            align-items: top;

            textarea {
                border: none;
                border-radius: 4px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
                margin-left: 5px;
                width: 80%;
            }
        }
    
        .form-button-container {
            text-align: right;
    
            button {
                padding: 5px 12px;
                font-weight: bold;
                border: none;
                border-radius: 3px;
            }
    
            .add-button {
                background-color: #C25C22;
                color: #F4F4F4;
                margin-left: 8px;
            }
            
        }
        
    }
    
    main {
        text-align: center;
        color: #F4F4F4;
    
        h2 {
            font-size: 16px;
            margin-bottom: 20px;
        }
    
        .watched-movies {
            height: 300px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
    
            .movie-poster {
                height: 170px;
                width: 120px;
                object-fit: cover;
            }

            .movie {
                margin-bottom: 20px;
            }
    
            h4 {
                font-size: 13px;
                margin-top: 3px;
                margin-bottom: 0;
            }
        }
    }
}

#show-page {
    header {
        text-align: center;
    }

    .main-content {
        background-color: #D89361;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;

        .img-title {
            text-align: center;
            margin: 10px 0 20px 0;

            img {
                width: 150px;
            }

            h2 {
                text-align: center;
                font-size: 18px;
                margin-top: 0;
            }
        }

        .content-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: bottom;
            margin-top: 10px;

            h3 {
                margin: 0 0 5px 0;
            }

            p {
                background-color: #F4F4F4;
                margin-top: 5px;
                padding: 6px 8px;
                border-radius: 5px;
                font-size: 14px;
                text-align: center;
            }

            .info {
                width: 110px;
            }

            .plot {
                width: 100%;
            }

            .plot p {
                text-align: left;
            }

            .genre p {
                text-align: left;
            }
        }
    }

    .button-container {
        text-align: right;
        margin-top: 20px;

        button {
            padding: 5px 8px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            font-weight: bold;
        }

        .delete-btn {
            background-color: #F4F4F4;
        }

        .back-btn{
            background-color: #C25C22;
            color: #F4F4F4;
            margin-left: 10px;
        }
    }
}

[btn] {
    display: block;
}

.active[btn] {
    display: none;
}

[modal] {
    display: none;
}

.active[modal] {
    display: block;
}

#delete-modal {
    background-color: #F4F4F4;
    padding: 15px 25px;
    margin-top: 15px;
    border-radius: 10px;

    h2 {
        font-size: 15px;
        margin-top: 0;
        font-weight: 300;
        text-align: center;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        button {
            padding: 8px 15px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
        }

        .confirm-btn {
            background-color: #C25C22;
            color: #F4F4F4;
        }

        .cancel-btn {
            background-color: #707070;
            color: #F4F4F4;
        }
    }
}

/* TABLET SIZE */
@media screen and (min-width: 768px) {
    #logo {
        text-align: left;
        height: 65px;
    }

    #main-page {
        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 20px 30px 20px;

            .stats-container {
                width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .form {
            width: 400px;
            margin: 0 auto;
            padding: 10px 20px;
            margin-top: 40px;

            .input-container {
                padding-left: 20px;   

                input, select, textarea {
                    margin-left: 15px;
                }
            }

            .input-title {
                input {
                    width: 200px;
                }
            }
        
            .input-rating {
                #rating {
                    width: 100px;
                }
            }
        }

        main {
            h2 {
                margin: 70px 0 30px 0;
            }

            .watched-movies {
                justify-content: space-evenly;
                margin: 0 20px;
            }
        }
    }

    #show-page {

        header {
            text-align: left;
            margin: 0 20px;
        }

        main {
            .main-content {
                display: flex;
                flex-direction: row;
                width: 500px;
                margin: 0 auto;
                margin-top: 50px;
                align-items: center;
                padding: 10px 30px;
    
                .img-title {
                    margin: 0 50px 0 0; 
                }
            }

            .button-container {
                width: 500px;
                margin: 0 auto;
                margin-top: 20px;

                .back-btn {
                    margin-left: 15px;
                }
            }
        }
    }

    #delete-modal {
        width: 450px;
        margin: 0 auto;
        margin-top: 15px;

        h2 {
            text-align: left;
            margin-bottom: 18px;
        }

        .button-container {
            justify-content: right;

            .cancel-btn {
                margin-left: 10px;
            }
        }
    }
}

/* DESKTOP SIZE */
@media screen and (min-width: 1024px) {
    #main-page {
        .form {
            margin-top: 50px;
        }
    }
    #show-page {
        main {
            .main-content {
                width: 600px;
                padding: 15px 60px;

                .img-title {
                    margin: 0 60px 0 0; 
                }
            }

            .button-container {
                width: 600px;
            }
        }   
        
    }
}

